{% if site.data.navigation %}

  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul>
        {%- for link in site.data.navigation -%}
          {%- if link.url contains '://' -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          
          {%- if link.sublinks -%}
            <li>
               <div class="dropdown">
                    <button style="font-weight:400;" class="btn btn--primary dropdown-toggle"
                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ link.title }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for sublink in link.sublinks %}
							<a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
						{% endfor %}
                    </div>
                </div>     
            </li>
          {%- else -%}
            <li><a href="{{ url }}">{{ link.title }}</a></li>
          {%- endif -%}

        {%- endfor -%}
      </ul>
    </nav>
  </div><!-- /.navigation-wrapper -->
{% endif %}


                        <!-- <a class="dropdown-item" href="/faculty/biological-physics/">Biological Physics</a> -->
                        <!-- <a class="dropdown-item" href="/faculty/biology-maths">Biology & Mathematics</a> -->
                        <!-- <a class="dropdown-item" href="/faculty/biophysical-chemistry">Biophysical Chemistry</a> -->